#header {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	height: 80px;
	width: 100%;
}

#logo > img {
	max-width: 250px;
	height: auto;
	position: relative;
	bottom: -7px;
	margin-left: 20px;
	border-radius: 13px;
}

.Header {
	position: fixed;
    box-shadow: 0 -31px hsl(0deg 0% 44% / 50%);
    margin: 14px 0 0;
    width: 100%;
    z-index: 1;
}

.header-contact {
	display: flex;
    font-weight: bold;
    justify-content: center;
    background-color: #f1bc5c;
    width: 100%;
    font-family: omnes-pro,sans-serif;
}

.header-contact a {
	color: black;
}

.header-contact a:visited {
	color: black;
}

.header-contact a:hover {
	color: rgb(62, 62, 62);
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
}

.nav > a {
	text-decoration: none;
	font-size: 18px;
	padding: 0 40px;
	color: #1c1c1c;
	text-shadow: 0px 0px 4px #acacac;
	color: black;
	font-family: omnes-pro, sans-serif;
	font-weight: 500;
}

@media (max-width: 600px) {
	#header {
		justify-content: center;
		margin: 10px 0 0 0;
	}

	#logo > img {
		max-width: 125px;
		height: auto;
		position: relative;
		padding-right: 10px;
	}

	.Header {
		margin: 0;
	}

	.nav > a {
		display: none;
	}
}

@media (max-width: 735px) {
	.nav > a {
		padding: 10px;
	}

}


