.Slogan {
	background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	/* top: -102px; */
	z-index: -1;
}

.Slogan > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Slogan > div > h1 {
	color: #f7f7f7;
	font-family: omnes-pro, sans-serif;
	font-weight: 500;
	margin: 0px;
	padding-top: 150px;
	text-shadow: 0px 1px 5px black;
	font-size: 28px;
	width: 300px;
	text-align: center;
}

.Slogan > div > h3 {
	font-family: omnes-pro, sans-serif;
	text-align: center;
	color: #f1bc5c;
	text-shadow: 1px 1px black;
	font-size: 16px;
	padding: 20px;
}

.Slogan > img {
	width: 100%;
	align-self: stretch;
}

@media (min-width: 600px) {
	.Slogan {
		height: 900px;
	}

	.Slogan > div > h1 {
		font-size: 48px;
		padding: 400px 30px 0px 30px;
		width: auto;
	}

	.Slogan > div > h3 {
		font-size: 24px;
	}
}
